footer {
  &.site-footer {
    position: relative;
    margin-top: 250px;
    background: #234b6a;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;

    &:before {
      content: '';
      display: block;
      height: 190px;
      width: 100%;
      position: absolute;
      bottom: 100%;
      background: url('https://2019.catania.wordcamp.org/files/2019/04/skyline-ct.jpg') bottom center no-repeat;
      background-size: contain;
    }
  }

  .site-info {
    background: inherit;
  }
}