header.site-header {
  .site-branding {
    background: url('https://2019.catania.wordcamp.org/files/2019/04/gradient.jpg') no-repeat center bottom;
    background-size: cover;
    margin: 0;
    padding: 9.25rem 0 7.25rem;
  }

  a {
    text-decoration: none;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
  }

  .custom-logo-link {
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    width: 15.5625rem;
    background-size: cover;
  }
}