.navigation-top {
  font-family: @font-family-nav;
  font-weight: 600;
  background: @nav-bg-color;
  top: 0;
  font-size: .9375rem;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 3;

  .wrap {
    padding: 0;
    position: relative;
  }

  @media (max-width:@screen-md) {
    .wrap {
      width: auto;
    }
  }

  @media (max-width:@screen-md-max) {
    font-size: 0.8375rem;
  }

  .main-navigation {
    width: auto;

    .menu-scroll-down {
      display: none;
    }

    ul {
      padding: 0;
      margin: 0;
      text-align: center;
      .flex();
      .flex-align-items(center);
      .flex-justify(center);

      li {
        border: 0;
        list-style: none;
        color: @nav-link-color;
        background-color: @nav-link-color-bg;

        a {
          color: inherit;
          -webkit-transition: color 0.2s, background-color .3s;
          -o-transition: color 0.2s, background-color .3s;
          transition: color 0.2s, background-color .3s;
          text-transform: uppercase;

          padding: 1.5375rem 1.1375rem;
          height: 4.375rem;
          line-height: 4.375rem;
        }

        &.menu-item-has-children {
          position: relative;
          padding-right: 12px;

          .dropdown-toggle {
            top: 0;
            left: auto;
            right: 0;
            padding: 0;
            background: none;
            outline: none;

            &:after {
              content: '';
              display: inline-block;
              right: 13px;
              top: 2.03rem;
              left: auto;
              position: absolute;
              overflow: hidden;
              font-size: 1em;
              text-align: center;
              text-transform: none;
              text-indent: -10px;
              width: 0;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-top: 6px solid #07465b;
            }
          }

          svg {
            display: none !important;
          }
        }

        &.current-menu-item,
        &.current_page_item,
        &.current_page_parent,
        &.current-menu-ancestor {
          background-color: @nav-link-color-active-bg;
          color: @nav-link-color-active;

          .dropdown-toggle:after {
            border-top-color: @nav-link-color-active;
          }
        }

        &:hover,
        &.current-menu-ancestor:hover {
          background-color: @nav-link-color-hover-bg;
          color: @nav-link-color-hover;

          .dropdown-toggle:after {
            border-top-color: @nav-link-color-hover;
          }
        }

        /**
         * Sub-menu
         */
        ul.sub-menu {
          display: none;
        }

        &:hover {
          display: block;

          ul.sub-menu {
            @sub-menu-offset: 10px;

            background: @nav-link-color-hover-bg;
            display: block;
            position: absolute;
            width: 250px;
            text-align: left;
            padding: @sub-menu-offset 0;
            z-index: 1;

            li {
              background: @nav-link-color-hover-bg;

              a {
                line-height: normal;
                height: auto;
                display: block;
                padding-top: @sub-menu-offset;
                padding-bottom: @sub-menu-offset;
                font-size: 0.875rem;

                &:hover {
                  color: @nav-link-color-hover;
                }
              }

              &.current-menu-item,
              &.current_page_item,
              &.current_page_parent,
              &.current-menu-ancestor {
                color: @nav-link-color-hover;
              }
            }
          }
        }

        /**
         * Ticket badge
         */
        &.ticket-label {
          float: right;
          background: @nav-ticket-badge-bg-color;
          color: @nav-ticket-badge-color;
          overflow: hidden;

          a {
            position: relative;
            z-index: 2;

            &:hover {
              background: @nav-ticket-badge-bg-hover-color;
              color: @nav-ticket-badge-hover-color;
            }
          }

          &:hover, &:active {
            text-decoration: none !important;
            text-shadow: none;

            &:after {
              top: -850%;
            }
          }
        }
      }
    }

    /**
    Mobile
     */
    .menu-toggle {
      display: none;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #fff;
      display: none;
      font-size: 1rem;
      font-weight: 400;
      text-transform: uppercase;
      padding: .9375rem;
      margin: 0 auto;
      text-shadow: none;
      background: #009cdc;
      width: 100%;
      text-align: left;

      .icon {
        margin-right: .5em;
        top: -2px;
        color: #fff;
      }

      @media (max-width:@screen-md) {
        display: block;
      }

      .icon-close {
        display: none;
      }
    }

    @media (max-width:@screen-md) {
      position: relative;
      height: 48px;

      .menu-main-menu-container {
        ul {
          margin-left: 0;
          display: block;
          text-align: left;
          padding: 10px 0;

          li {
            display: none;
            padding-right: 0;

            a {
              padding: .5em 15px;
              display: block;
              line-height: normal;
              height: auto;
            }

            ul.sub-menu {
              display: none;
              position: static;
              padding: 0 0 .25rem 10px;
              width: 100%;
              margin-bottom: .25rem;
            }

            &:hover {
              display: block;

              ul.sub-menu {
                display: block;

                a {
                  padding: 0.5em 15px;
                }
              }
            }

            &.menu-item-has-children {
              svg {
                display: inline !important;

                * {
                  fill: @nav-link-color;
                }
              }

              .dropdown-toggle {
                display: none;
              }
            }

            &.ticket-label {
              display: block;
              position: absolute;
              height: auto;
              top: 0;
              right: 0;
              font-size: 1rem;
              padding: 0.315rem 0.625rem;
              line-height: 1;
            }
          }
        }
      }

      &.toggled-on {
        height: auto;

        .menu-main-menu-container {
          display: block;

          ul {
            li {
              display: block;
            }
          }
        }
      }
    }
  }
}