.navigation-top {
  font-family: @font-family-nav;

  .wrap {
    padding: 0;
  }

  @media (max-width:@screen-md) {
    .wrap {
      width: auto;
    }
  }

  .main-navigation {
    .menu-scroll-down {
      display: none;
    }

    li {
      color: @nav-link-color;
      background-color: @nav-link-color-bg;

      a {
        color: inherit;
        -webkit-transition: color 0.2s, background-color .3s;
        -o-transition: color 0.2s, background-color .3s;
        transition: color 0.2s, background-color .3s;
        text-transform: uppercase;

        padding: 0 .9375rem;
        //height: 4.375rem;
        //line-height: 4.375rem;
      }

      &.current-menu-item,
      &.current_page_item {
        background-color: @nav-link-color-active-bg;
        color: @nav-link-color-active;
      }

      &:hover {
        background-color: @nav-link-color-hover-bg;
        color: @nav-link-color-hover;
      }
    }

    /**
    Mobile
     */
    .menu-toggle {
      display: none;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #fff;
      display: none;
      font-size: 1rem;
      font-weight: 400;
      text-transform: uppercase;
      padding: .9375rem .625rem;
      margin: 0 auto;
      text-shadow: none;
      background: #009cdc;
      width: 100%;

      .icon {
        margin-right: .5em;
        top: -2px;
        color: #fff;
      }

      @media (max-width:@screen-md) {
        display: block;
      }

      .icon-close {
        display: none;
      }
    }

    @media (max-width:@screen-md) {
      .menu-main-menu-container {
        display: none;
      }

      &.toggled-on {
        .menu-main-menu-container {
          display: block;

          ul {
            margin-left: 0;
            padding-left: 0;

            li {
              display: block;
              padding: .5em 0 .5em 15px;
            }
          }
        }
      }
    }
  }
}