.home.page {
  .home-sections {
    margin-bottom: @padding-large-vertical*2;

    .wp-block-column {
      &:not(:last-child),
      &:nth-child(odd) {
        margin-right: @home-sections-offset;
      }

      &:not(:first-child),
      &:nth-child(2n) {
        margin-left: @home-sections-offset
      }
    }
  }
}