.home.page {
  .home-sections {
    margin-bottom: @padding-large-vertical*2;

    .wp-block-column {
      &:not(:last-child),
      &:nth-child(odd) {
        margin-right: @home-sections-offset;
      }

      &:not(:first-child),
      &:nth-child(2n) {
        margin-left: @home-sections-offset
      }
    }
  }

  // Latest posts
  .wp-block-latest-posts {
    &.is-grid {
      max-width: none;

      li {
        background: #ffffff;
        padding: 15px 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        font-size: 19px;
        transition: all ease .1s;

        &:hover {
          transform: scale(1.04);
        }

        a {
          display: block;
        }
      }
    }
  }
}