#tix {
  .clearfix();

  .tix_tickets_table,
  .tix-ticket-form {
    .table;
    border-top: 2px solid @table-border-top-color;
    border-bottom: 2px solid @table-border-top-color;

    th,
    td {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    > thead > tr > th {
      border-bottom-width: 1px;
      font-size: 0.895em;
    }

    tbody {
      .tix-ticket-title {
        .h3;
        display: block;
        margin-top: 0;

        + br {
          display: none;
        }
      }

      .tix-ticket-excerpt,
      .tix-column-price,
      .tix-column-remaining,
      .tix-column-quantity select {
        font-size: 0.935rem;
        color: lighten(@text-color, 20%);
      }

      .tix-column-price,
      .tix-column-remaining,
      .tix-column-quantity select {
        font-weight: 600;
      }

      .tix-row-coupon {
        #tix-coupon-link {
          .h4;
        }

        #tix-coupon-container {
          position: relative;
          padding-right: 10rem;

          input[type="submit"] {
            .button;
            position: absolute;
            top: 0;
            right: 0;
            width: 9.5rem;
            line-height: 1.5;
          }
        }
      }

      .tix-column-quantity select {
        width: 100%;
      }

      select {
        border-radius: .1875rem;
        cursor: pointer;
        background-color: #fff;
        width: 70%;
        border: 1px solid @table-border-top-color;
      }

      input[type="text"],
      input[type="email"],
      input[type="url"],
      textarea {
        margin-right: 6px;
        border-color: @table-border-top-color;
        line-height: 1.4;
        border-radius: .15rem;

        &:focus {
          border-color: darken(@table-border-top-color, 20%);
        }
      }

      .tix-left {
        font-size: 1rem;
      }

      .tix-right {
        label {
          font-weight: 400;
          font-size: 1rem;
        }

        br {
          display: none;
        }
      }
    }
  }

  input[type="submit"],
  .tix-submit input[type="submit"] {
    .button;
    background-color: @nav-ticket-badge-bg-color;
    color: @nav-ticket-badge-color;
    font-size: 1.2rem;

    &:hover {
      background-color: @nav-ticket-badge-bg-hover-color;
      color: @nav-ticket-badge-hover-color;
    }
  }

  .tix-submit {
    .tix-payment-method-container {
      padding-top: 0;

      label {
        display: inline;
      }

      .tix-alternate-payment-option {
        float: right;

        #tix-payment-method_paypal {
          display: none;

          + label {
            background: url(https://www.paypalobjects.com/webstatic/mktg/logo-center/logo_paypal_sicuro.png);
            background-size: 100% 100%;
            width: 159px;
            height: 55px;
            text-indent: 100%;
            white-space: nowrap;
            display: inline-block;
            overflow: hidden;
            cursor: pointer;
            box-sizing: border-box;
            border: 2px solid #fff;

            &:hover {
              border-color: #555;
            }
          }

          &:checked + label {
            border-color: #555;
          }
        }
      }
    }
  }
}