@base-url: "https://raw.githubusercontent.com/wordcamp-catania/catania.wordcamp.org-2019/master/build/spritemap.svg?sanitize=true";

.sprite(@icon, @gradient) {
  background: url('@{base-url}#sprite-@{icon}-fragment') center no-repeat;
}

.wccta-icons {
  width: 90px;
  height: 90px;
  margin-bottom: 12px;
  display: inline-block;

  &.balloon {
    .sprite('balloon', 'SVGID_1_');
  }

  &.location {
    .sprite('location', 'SVGID_2_');
  }

  &.speaker {
    .sprite('speaker', 'SVGID_3_');
  }

  &.sponsor {
    .sprite('sponsor', 'SVGID_4_');
  }

  &.ticket {
    .sprite('ticket', 'SVGID_5_');
  }

  &.volunteer {
    .sprite('volunteer', 'SVGID_6_');
  }
}