/** Typo */
@font-family: 'Open Sans', sans-serif;
@font-size: 17px;
@font-family-headings: @font-family;
@font-family-nav: @font-family-headings;

/** Common */
@padding-large-vertical: 15px;

/** Header */
@logo-width: 250px;
@logo-width-small: 150px;

/** Colors */
@text-color: #0c1934;
@headings-color: #24647d;
@nav-bg-color: #fff;
@nav-link-color: #07465b;
@nav-link-color-bg: transparent;
@nav-link-color-hover: desaturate(lighten(@nav-link-color, 30%), 30%);
@nav-link-color-hover-bg: #efefef;
@nav-link-color-active: #fff;
@nav-link-color-active-bg: #11526d;
@nav-mobile-bg: #009cdc;
@button-bg-color: #13759d;
@button-text-color: #fff;
@button-hover-bg-color: #004a65;
@button-hover-text-color: #fff;
@button-secondary-bg-color: #ddd;
@button-secondary-text-color: #222;
@button-secondary-hover-bg-color: #bbb;
@button-secondary-hover-text-color: #fff;
@footer-bg-color: #234b6a;

/** Home */
@home-sections-offset: 15px;